.footer{
  padding: 40px 100px 10px;
  background-color: #f4f1ed;
  display: flex;
}


@media (max-width: 1500px){
  .footer {
      padding: 60px 70px;
  }
}

@media (max-width: 768px) {
  .footer {
    justify-content: center;
  }
}