.container_footer{
  background-color: rgb(15, 15, 15);
  padding: 0px 100px;
  padding-bottom: 50px;
}

.main_footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.main_footer img{
  width: 35%;
  margin-top: 110px;
  cursor: pointer;
}

.txt_aprender{
  width: 50%;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.txt_aprender h2 {
  color: #f4f1ed;
  font-size: 46px;
}

.buttons_aprender{
  display: flex;
  gap: 26px;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1200px){
  .main_footer{
    flex-direction: column;
    align-items: center;
  }
  .main_footer img{
    width: 60%;
  }
  .txt_aprender{
    text-align: center;
    width: 100%;
    align-items: center;
  }
  .aprender{
    align-items: center;
  }
  .buttons_aprender{
    justify-content: center;
    max-width: 80%;
  }
}

@media (max-width: 800px){
  .container_footer{
    padding: 0px 20px;
    padding-bottom:80px ;
  }
  .main_footer img{
    width: 70%;
  }
  .buttons_aprender{
    justify-content: center;
    max-width: 100%;
  }
}