.container {
  background-color: #f4f1ed;
  padding: 50px 150px;
  padding-bottom: 100px;
}

.main {
  display: flex;
  justify-content: space-between;
}
.main_txt{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.main_txt strong{
  color: black;
  margin-top: 70px;
  font-size: 24px;
}
.main_txt h1 {
  font-size: 56px;
  margin-bottom: 38px;
  color:#ed2d50;
}

.main_txt p{
  font-size: 24px;
  margin-bottom: 60px;
}

.main_txt a{
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  background-color: #ed2d50;
  color:white;

  font-weight: bold;
  text-align: center;
  font-size: 20px;
  text-decoration: none;

  cursor: pointer;
  margin: 0 auto;
}

.main_txt a:hover{
  background-color: #f31a42;
}

main img {
  width:25%;
  cursor: pointer;
}

main img:hover {
  transform: scale(1.1);
}

.preco {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.preco p {
  margin: 0;
}
.preco p:hover {
  color: #ed2d50;
}

@media (max-width: 1200px)
{
  .container{
    padding: 20px 100px;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .main_txt{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
  }
  main img{
    width: 40%;
    padding: 70px 0;
  }
}
@media (max-width: 800px)
{
  main img{
    width: 40%;
  }
  .preco {
    flex-direction: column;
    gap: 32px;
  }
}
@media (max-width: 530px)
{
  .main_txt h1 {
    font-size: 46px;
  }
  .container {
    padding: 20px;
  }
  .main_txt button{
    margin: 0;
  }
  main img{
    width: 70%;
    
  }
  
}